body {
  margin: 0;
}

h1 {
  font-size: 3em;
  display: block;
  color: white;
  font-weight: 300;
}

p {
  font-size: 1.5em;
  font-weight: 500;
  color: #C3CAD9;
}

/* Sections */

section {
  width: 100%;
  display: table;
  margin: 0;
  max-width: none;
  text-align: center;
  background-color: #373B44;
  height: 100vh;
}

.intro {
  padding-bottom: 2em;
  height: 94vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.info {
  background-color: #E76D76;
  height: 100vh;
}

.projects {
  background-color: #373B44;
  height: 100vh;
}

.skills {
  background-color: #E76D76;
  height: 100vh;
}

.contact {
  background-color: #373B44;
  height: 100vh;
}
